Flow1
[
    {
        "id": "8e81b8e.570bf48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c86fbd6.ab1664",
        "type": "rpi-gpio out",
        "z": "8e81b8e.570bf48",
        "name": "LED",
        "pin": "7",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "ac10aa5.0425258",
        "type": "debug",
        "z": "8e81b8e.570bf48",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "61976f31.124e6",
        "type": "rpi-gpio in",
        "z": "8e81b8e.570bf48",
        "name": "switch",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "eefe1380.860df"
            ]
        ]
    },
    {
        "id": "eefe1380.860df",
        "type": "switch",
        "z": "8e81b8e.570bf48",
        "name": "choose",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "91a23d1b.c9f1"
            ],
            [
                "b4934af.99139b8"
            ]
        ]
    },
    {
        "id": "91a23d1b.c9f1",
        "type": "change",
        "z": "8e81b8e.570bf48",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "7c86fbd6.ab1664",
                "ac10aa5.0425258"
            ]
        ]
    },
    {
        "id": "b4934af.99139b8",
        "type": "change",
        "z": "8e81b8e.570bf48",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "7c86fbd6.ab1664",
                "ac10aa5.0425258"
            ]
        ]
    }
]
